In [3]:
import requests #great web library
import pandas as pd #great table/dataframe library
doc_id = "1mJcXk8iq5izGwCXbnTXc4X81LbPgYv4GPxjT4a53Y00"
url = f"https://docs.google.com/spreadsheets/d/{doc_id}/gviz/tq?tqx=out:csv" #beautiful python syntactic sugar
res = requests.get(url,allow_redirects=True) #Does the download
open('./temp.csv', 'wb').write(res.content) #temporarily write to a file
df = pd.read_csv('./temp.csv') #so that we can read it. 
df.head() #so we can see that it worked

,Timestamp,First Name (Given),Last Name,PhD or MS,Graduate Program of Study (e.g. Electrical and Computer Engineering),Undergraduate Program of Study,Level of Experience With Statistics,Level of Experience With Machine Learning,Level of Experience With Programming,Level of Experience With Python,Level of Experience With R,Level of Experience With SQL/Databases,Level of Experience With Web APIs,Upload a picture of you,Interesting fact(s) about you.,"Where were you born? (city, state, country)","Number of members of your immediate family (parents, brothers, sisters)"
0,1/7/2020 16:28:29,Yun-Ching,Tsai,PhD,Plant Pathology,NaN,5,1,2,1,3,1,1,NaN,NaN,"Tainan, Taiwan",4
1,1/7/2020 16:29:15,Anton,Franzluebbers,PhD,Electrical and Computer Engineering,Computer Science and Computer Engineering,2,2,5,4,3,2,2,https://drive.google.com/open?id=10m07Hpq8ldGu...,I like carrots,"Athens, GA, USA",5
2,1/7/2020 16:29:21,Holly,Munro,PhD,Forest Entomology and Biometrics,Biology,5,4,4,2,4,2,2,https://drive.google.com/open?id=1HFV4H4TjaKUS...,I have pet tarantulas,"Athens, GA, USA",5
3,1/7/2020 16:29:21,Kyle,Johnsen,Completed PhD,Computer Engineering,Computer Engineering,3,4,5,4,4,5,5,https://drive.google.com/open?id=1c_Bmz2PkB_cq...,"I have two daughters, 6 & 8, and a dog (and a ...","Port Jefferson, New York, USA",5
4,1/7/2020 16:29:24,Corey,Schultz,PhD,Bioinformatics,Genetics,3,1,4,3,3,1,1,https://drive.google.com/open?id=10hjo5M6n8HR0...,I enjoy visiting National Parks. I have a twin...,"Bristol, CT, USA",4